<div style="display: inline-block">
    <md-content class="md-padding">
        <md-card>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-lg card-media user-info">
                        <img ng-src="{{vm.user.imageUrl}}"/><br/><br/>
                        <span class="md-subhead">{{vm.user.firstName}} {{vm.user.lastName}}</span><br/>
                        <!-- todo social profiles -->
                    </div>
                </md-card-title-media>
                <md-card-title-text>
                    <div class="user-details">
                        <span class="md-headline">{{'userManagement.login' | translate}}: {{vm.user.login}}</span><br/>
                        <span class="md-headline" ng-if="vm.user.email">{{'userManagement.email' | translate}}: {{vm.user.email}}</span><br/>
                        <span class="md-headline" ng-if="!vm.user.email">{{'userManagement.email' | translate}}: Не задан</span><br/>
                        <span class="md-subhead">{{'userManagement.city' | translate}}: {{vm.user.city.name}} ({{vm.user.langKey}})</span><br/>
                        <span class="md-subhead">{{'userManagement.phone' | translate}}: {{vm.user.phone}}</span><br/>
                        <span class="md-subhead">{{'userManagement.activated' | translate}}: {{vm.user.activated ? 'Да' : 'Нет'}}</span><br/>
                        <span class="md-subhead">{{'userManagement.access.title' | translate}}: {{vm.user.readOnly ? 'Только просмотр' : 'Просмотр и запись'}}</span><br/>
                        <span class="md-subhead">{{'userManagement.profiles' | translate}}: {{vm.userRole}}</span><br/>

                        <!-- system fields -->
                        <hr/>
                        <span class="md-subhead">{{'userManagement.createdBy' | translate}}: {{vm.user.createdBy}}</span><br/>
                        <span class="md-subhead">{{'userManagement.createdDate' | translate}}: {{vm.user.createdDate | date:'dd/MM/yy HH:mm' }}</span><br/>
                        <span class="md-subhead">{{'userManagement.lastModifiedBy' | translate}}: {{vm.user.lastModifiedBy}}</span><br/>
                        <span class="md-subhead">{{'userManagement.lastModifiedDate' | translate}}: {{vm.user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</span><br/>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-flat md-primary" ui-sref="user-management.edit({login:vm.user.login})">Изменить</md-button>
                <md-button class="md-flat md-warn" ui-sref="user-management"><span translate="entity.action.back">Back</span></md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>
