<div class="bc-avatar" style="background: url({{vm.account.imageUrl}}) center no-repeat; background-size: cover;"
     ng-class="vm.detectBlur()">
</div>
<div ng-cloak>
    <div id="one">
        <div ng-switch="vm.isAuthenticated()">
            <div class="signin-train" ng-switch-when="true">
                <p class="welcome md-headline">Добро пожаловать, {{vm.account.firstName}}!</p>
                <p class="o1">Для СМС-оповещений требуется указать свой телефон в <a ui-sref="settings">настройках</a>.</p>
                <div ng-if="vm.account.city == null">
                    <p class="o1">Для просмотра тренировок необходимо выбрать город:</p>
                    <md-select ng-init="vm.loadCities()" id="home_city" ng-model="vm.account.city" aria-label="city" md-on-close="vm.saveAccount()">
                        <md-option ng-repeat="city in vm.cities | orderBy:'name'" ng-value="city">
                            {{city.name}}
                        </md-option>
                    </md-select>
                </div>
                <jhi-alert></jhi-alert>
                <jhi-alert-error></jhi-alert-error>
                <div class="train-list" ng-if="vm.account.city">
                    <md-nav-bar ng-show="vm.levels.length > 1" md-selected-nav-item="currentLevel.name" nav-bar-aria-label="navigation links">
                        <md-nav-item ng-repeat="level in vm.levels | orderBy:'order'" name="{{level.name}}" md-nav-click="onLevelSelected(level)">
                            {{level.name}}
                        </md-nav-item>
                    </md-nav-bar>
                    <ul ng-init="vm.loadTrainings()">
                        <!--todo empty view-->
                        <li class="training-warn" ng-show="!vm.levels.length">Тренировок пока нет.</li>
                        <li ng-repeat="training in vm.trainings | orderBy:'startAt' | filter: filterByLevel(currentLevel)">
                            <md-card ng-model="hcontent">
                                <md-card-title class="card-title-sm">
                                    <md-card-title-media>
                                        <div class="md-media-sm card-media training">
                                            <span class="training-day">{{training.startAt | date:'EEEE'}}</span>
                                            <br/>
                                            <span class="md-subhead training-date">{{training.startAt | date:'d'}}</span>
                                            <br/>
                                            <span class="training-month">{{training.startAt | date:'MMMM'}}</span>
                                        </div>
                                    </md-card-title-media>
                                    <md-card-title-text class="card-with-border">
                                        <span class="md-headline" ng-show="training.description">{{training.description}}</span>
                                        <hr/>
                                        <span class="md-subhead">{{training.startAt | date:'shortTime':vm.account.city.tz}}, {{training.price}} р</span>
                                        <hr/>
                                        <span class="md-subhead">{{training.gym.name}}</span>
                                        <hr/>
                                        <span class="md-subhead">Лимит {{training.limit}} человек</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button class="md-flat" ng-click="hcontent = !hcontent">Подробнее</md-button>
                                    <md-button class="md-flat md-primary"
                                               ng-disabled="vm.account.readOnly"
                                               ng-if="!vm.alreadyRegister(training.id)"
                                               ng-click="vm.enroll(training.id)">Записаться</md-button>
                                    <md-button class="md-flat md-warn"
                                               ng-if="vm.alreadyRegister(training.id)"
                                               ng-click="showConfirm($event, training.id)">Отписаться</md-button>
                                </md-card-actions>

                                <div ng-show="hcontent && training.state == 'REGISTRATION'" flex ng-cloak>
                                    <md-grid-list
                                        md-cols="2" md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-sm="4"
                                        md-row-height="1:1"
                                        md-gutter="8px" md-gutter-gt-sm="8px" md-gutter-md="8px" md-gutter-gt-md="16px">

                                        <md-grid-tile ng-repeat="trainingUser in training.trainingUsers | orderBy:'registerDate'"
                                                      md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1"
                                                      class="user-cell" >
                                            <div class="user-cell-wrap" ng-class="vm.calcUserClass($index, training.limit, trainingUser)">
                                                <img ng-if="!vm.isRefreshBtn(trainingUser)" class="user-avatar"
                                                     ng-src="{{trainingUser.user.imageUrl || '/content/images/nouser.png'}}"/>
                                                <img ng-if="vm.isRefreshBtn(trainingUser)" class="user-avatar refresh"
                                                     ng-src="{{'/content/images/refresh.png'}}"
                                                     ng-click="vm.loadTrainings()"/>

                                                <span ng-if="!vm.isCurrentUserAdmin() && !vm.isRefreshBtn(trainingUser)" class="md-button">
                                                    {{$last ? '' : $index+1 + '. '}}{{trainingUser.user.firstName}}
                                                </span>
                                                <md-button ng-if="vm.isCurrentUserAdmin() && !vm.isRefreshBtn(trainingUser)" class="md-flat"
                                                           ui-sref="user-management-detail({login:trainingUser.user.login})" target="_blank">
                                                    {{$last ? '' : $index+1 + '. '}}{{trainingUser.user.firstName}}
                                                </md-button>
                                                <md-button ng-if="vm.isRefreshBtn(trainingUser)" class="md-flat" ng-click="vm.loadTrainings()">
                                                    Обновить
                                                </md-button>
                                            </div>
                                        </md-grid-tile>
                                    </md-grid-list>
                                </div>
                                <!--todo cancelled view-->
                                <div class="alert" ng-if="hcontent && training.state == 'CANCELLED'">
                                    Тренировка отменена.
                                </div>
                            </md-card>
                        </li>
                    </ul>
                </div>
            </div>

            <script type="text/ng-template" id="popupTmpl.html">
                <div class="modal-header">
                    <h3 class="modal-title">You registered!</h3>
                </div>
                <div class="modal-body">
                    User: <b>{{ vm.account.login }}</b>
                    <hr/>
                    Number: <b>{{ vm.training.id }}</b>
                    <hr/>
                    {{ vm.modalText }}
                </div>
                <div class="modal-footer">
                    <button close-dialog="2" class="btn btn-primary">OK</button>
                </div>
            </script>

            <script>
                var inputDate = new Date("04/01/2017");
                var todayDate = new Date();

                function rotateAll() {
                    $('.random-rotate').each(function() {
                        var a = Math.random() * 140 - 70;
                        var b = Math.random() * 0.3 + 0.7;
                        $(this).css('transform', 'rotate(' + a + 'deg) scale(' + b + ')');
                    });
                    setTimeout(rotateAll, 1000);
                }

                if(inputDate.setHours(0,0,0,0) === todayDate.setHours(0,0,0,0)) {
                    setTimeout(rotateAll, 1000);
                }
            </script>

            <div class="signup-train" ng-switch-when="false">
                <p class="welcome md-headline">Добро пожаловать!<br />Cнова.</p>
                <p class="o2">Для записи на тренировку необходимо <a class="alert-link" href="" ng-click="vm.login()">войти на сайт здесь</a>, либо через одну из соц. сетей</p>

                <div id="cf">
                    <jh-social ng-provider="vkontakte"></jh-social>
                    <jh-social ng-provider="google"></jh-social>
                    <jh-social ng-provider="facebook"></jh-social>
                </div>
            </div>
        </div>
    </div>
</div>
