<div>
    <h2 translate="volleyApp.training.home.title">Trainings</h2>
    <md-alert></md-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="container-fluid">
        <div class="row">
            <div class="btn-group no-padding-left user-buttons">
                <md-button class="md-flat md-primary" ui-sref="training.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span translate="volleyApp.training.home.createLabel">
                        Create new Training
                    </span>
                </md-button>
                <md-switch ng-model="vm.showMine" class="md-primary" ng-change="vm.reset()">
                    <span class="hidden-xs" translate="volleyApp.training.home.filter.mine">Только мои</span>
                </md-switch>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startAt"><span translate="volleyApp.training.startAt">Start At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endAt"><span translate="volleyApp.training.endAt">End At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span translate="volleyApp.training.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="limit"><span translate="volleyApp.training.limit">Limit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span translate="volleyApp.training.booking.label">Booking</span></th>
                    <th jh-sort-by="state"><span translate="volleyApp.training.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="level.name"><span translate="volleyApp.training.level">Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="organizer.login"><span translate="volleyApp.training.organizer">Organizer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gym.name"><span translate="volleyApp.training.gym">Gym</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="training in vm.trainings track by training.id">
                    <td><a ui-sref="training-detail({id:training.id})">{{training.id}}</a></td>
                    <td>{{training.startAt | date:'medium'}}</td>
                    <td>{{training.endAt | date:'medium'}}</td>
                    <td>{{training.price}}</td>
                    <td>{{training.limit}}</td>
                    <td>{{training.booking.split(',').length}}</td>
                    <td>
                        <span class="training-state" ng-class="training.state.toLowerCase()">
                            {{'volleyApp.TrainingState.' + training.state | translate}}
                            <span class="label label-warning" ng-click="vm.setState(training, 'CANCELLED')"
                                  ng-show="vm.isRegistration(training.state) && vm.hasPermissionToEdit(training)"
                                  style="cursor: pointer;" translate="volleyApp.training.home.deactivate">
                            </span>
                            <span class="label label-success" ng-click="vm.setState(training, 'REGISTRATION')"
                                  ng-show="vm.isCancelled(training.state) && vm.hasPermissionToEdit(training)"
                                  style="cursor: pointer;" translate="volleyApp.training.home.activate">
                            </span>
                        </span>
                    </td>
                    <td>
                        <a ui-sref="level-detail({id:training.level.id})">{{training.level.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="organization-detail({id:training.organizer.organization.id})">{{training.organizer.organization.name}}</a>:
                        <a ui-sref="user-management-detail({login:training.organizer.login})">{{training.organizer.firstName}} {{training.organizer.lastName}}</a>
                    </td>
                    <td>
                        <a ui-sref="gym-detail({id:training.gym.id})">{{training.gym.city.name}}, {{training.gym.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container" ng-if="vm.hasPermissionToEdit(training)">
                            <button type="submit"
                                    ui-sref="training-user({trainingId:training.id})"
                                    class="btn btn-warning btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <md-tooltip md-direction="down">{{"volleyApp.training.showPlayers" | translate}}</md-tooltip>
                            </button>
                            <button type="submit"
                                    ui-sref="training.edit({id:training.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <md-tooltip md-direction="down">{{"entity.action.edit" | translate}}</md-tooltip>
                            </button>
                            <button type="submit"
                                    ui-sref="training.delete({id:training.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <md-tooltip md-direction="down">{{"entity.action.delete" | translate}}</md-tooltip>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" onclick="window.history.back()" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
