<form name="deleteForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" translate="volleyApp.training.cancel.title">Confirm cancel operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p translate="volleyApp.training.cancel.question" translate-values="{id: '{{vm.training.id}}'}">Are you sure you want to cancel this training?</p>
    </div>
    <div class="modal-footer">
        <md-button class="md-flat" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </md-button>
        <md-button ng-click="vm.confirmCancel(vm.training.id)" ng-disabled="deleteForm.$invalid" class="md-warn">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="volleyApp.training.cancel.text">Close training</span>
        </md-button>
    </div>
</form>
