<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" id="myTrainingLabel" translate="volleyApp.training.home.createOrEditLabel">
            Create or edit a Training
        </h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.training.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.training.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volleyApp.training.startAt" for="field_startAt">Start At</label>
            <div class="input-group">
                <input id="field_startAt" type="text" class="form-control" name="startAt"
                       datetime-picker="{{dateformat}}" ng-model="vm.training.startAt"
                       is-open="vm.datePickerOpenStatus.startAt" ng-change="vm.updateTrainingPeriod()"
                       required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startAt')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            <div ng-show="editForm.startAt.$invalid">
                <p class="help-block"
                   ng-show="editForm.startAt.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.startAt.$error.ZonedDateTimelocal"
                   translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volleyApp.training.duration" for="field_duration">Duration</label>
            <div class="input-group">
                <input id="field_duration" type="text" class="form-control" name="duration" datetime-picker="HH:mm"
                       ng-model="vm.duration" is-open="vm.datePickerOpenStatus.duration"
                       enable-date="false" default-time="14:00:00" ng-change="vm.updateTrainingPeriod()"
                       required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('duration')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            <div ng-show="editForm.endAt.$invalid">
                <p class="help-block"
                   ng-show="editForm.endAt.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.endAt.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volleyApp.training.endAt" for="field_endAt">End At</label>
            <input disabled id="field_endAt" type="text" class="form-control" name="endAt"
                   ng-init="vm.durationInit()" datetime-picker="{{dateformat}}" ng-model="vm.training.endAt"/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volleyApp.training.price" for="field_price">Price</label>
            <input type="text" class="form-control" name="price" id="field_price"
                   ng-model="vm.training.price"
                   required/>
            <div ng-show="editForm.price.$invalid">
                <p class="help-block"
                   ng-show="editForm.price.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volleyApp.training.limit" for="field_limit">Limit</label>
            <input type="number" class="form-control" name="limit" id="field_limit"
                   ng-model="vm.training.limit"
                   required min="0"/>
            <div ng-show="editForm.limit.$invalid">
                <p class="help-block"
                   ng-show="editForm.limit.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.limit.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                   ng-show="editForm.limit.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volleyApp.training.state" for="field_state">State</label>
            <select class="form-control" name="state" ng-model="vm.training.state" id="field_state" required>
                <option value="REGISTRATION" translate="volleyApp.TrainingState.REGISTRATION" selected>Registration</option>
                <option value="PROCESS" translate="volleyApp.TrainingState.PROCESS">In process</option>
                <option value="DONE" translate="volleyApp.TrainingState.DONE">Done</option>
                <option value="CANCELLED" translate="volleyApp.TrainingState.CANCELLED">Cancelled</option>
            </select>
            <div ng-show="editForm.state.$invalid">
                <p class="help-block"
                   ng-show="editForm.state.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volleyApp.training.description"
                   for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="vm.training.description"
            />
        </div>

        <div class="form-group">
            <label translate="volleyApp.training.level" for="field_level">Level</label>
            <select class="form-control" id="field_level" name="level" ng-model="vm.training.level"
                    ng-options="level as level.name for level in vm.levels track by level.id" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.level.$invalid">
                <p class="help-block"
                   ng-show="editForm.level.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="volleyApp.training.gym" for="field_gym">Gym</label>
            <select class="form-control" id="field_gym" name="gym" ng-model="vm.training.gym"
                    ng-options="gym as gym.name for gym in vm.gyms track by gym.id" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.gym.$invalid">
                <p class="help-block"
                   ng-show="editForm.gym.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
