@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic';
body {
    margin: 0;
    height: 100%;
    font: normal 12px 'Open Sans', sans-serif;
    color: #292929;
    background: #ffffff;
    background-size: cover;
}
#one {
    position: relative;
    width: 350px;
    margin: 0 auto;
    padding: 4% 10px 0 10px;
}

@media (min-width: 320px) {
    #one {
        width: 100%;
        padding: 1% 0 0 0;
    }
}

@media (min-width: 650px) {
    #one {
        width: 630px;
        padding: 2% 10px 0 10px;
    }
}

.welcome {
    text-align: center;
    font-size: 32px;
    padding: 0;
    margin: 0 auto 15px;
    line-height: 120%;
}

.o1 {
    text-align: center;
    font-size: 16px;
    color: #333333;
    padding: 0;
    margin: 0 auto 15px;
    line-height: 140%;
}

.o2 {
    text-align: center;
    font-size: 16px;
    color: #292929;
    padding: 0;
    margin: 0 auto 20px;
    line-height: 140%;
}

.o2 a {
    font-size: 16px;
    color: #292929;
    padding: 0;
    margin: 0;
    text-decoration: underline;
}

.o2 a:hover {
    text-decoration: none;
}

#cf {
    margin: 0 auto 20px;
}

.navbar-default {
    z-index: 1;
}

.container {
    width: 100%;
    padding: 0;
}
.well {
    background: transparent;
    border: none;
    box-shadow: none;
}
.footer {
    display: inline-block;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    padding: 10px;
}
.footer > div {
    float: left;
    display: inline;
}
.footer > a.footer-home {
    float: left;
    margin-left: 5px;
    display: inline;
}
.footer > a.footer-faq {
    float: right;
    display: inline;
}

.signin-train {
    padding-bottom: 20px;
}
.signup-train {
    padding-bottom: 20px;
    width: 300px;
    margin: auto;
}
.train-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.train-list ol {
    padding: 0;
    margin: 0;
}

.train-list li {
    margin-bottom: 15px;
}

.enroll, .unroll {
    background: #fff;
    color: #3065d1;
    display: block;
    font-size: 12pt;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
    padding: 6px 0;
    border-radius: 6px;
    margin: 0 auto;
    border: 1px solid #3065d1;
}
.unroll {
    margin-top: 8px;
}
.enroll:hover, .unroll:hover {
    color: #fff;
    background: #3065d1;
    border: 1px solid #3065d1;
    text-decoration: none;
}
.enroll:disabled, .unroll:disabled {
    color: #fff;
    background: #cdd2cc;
    border: 1px solid #c8ced1;
    text-decoration: none;
}

.users-list li img {
	width: 70%;
	border-radius: 50%;
}
.users-list li img.refresh  {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition:         transform .5s ease-in-out;
}
.users-list li img.refresh:hover {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.users-list li span {
    display: block;
}
.users-list li span.refresh {
    color: #2c95dd;
}

.users-list li {
    display: inline-block;
    width: 38%;
    margin: 20px 14px 10px 14px;
    text-align: center;
    font-size: 12pt;
    line-height: 2;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}
@media (min-width: 330px) {
    .users-list li {
        width: 40%;
    }
}
@media (min-width: 650px) {
    .users-list li {
        width: 20%;
    }
}
.users-list .red {
    color: #fb8500;
}

.dark {
    background: rgba(255,255,255,1);
    left: 0;
    width: 100%;
    height: 100%;
}
.train-list input[type="text"] {
    display: block;
    margin: 10px auto;
    border: 1px solid;
    height: 32px;
    width: 250px;
    padding: 0 10px;
    font-size: 12pt;
}
.training-warn {
    background: #f3f3ac;
    text-align: center;
    padding: 10px;
    font-size: 12pt;
    border-radius: 4px;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin: 0;
}

.card-title-sm {
    padding: 12px 12px 8px;
}

.card-with-border {
    border-left: 3px solid;
    border-color: #0256a0;
    padding-left: 10px;
}

.card-media.training {
    padding-right: 10px;
    position: relative;
    text-align: center;
}

.card-media.training span {
    position: relative;
}

.card-media.training > .training-day {
    top: 15%;
}

.card-media.training > .training-date {
    font-size: 32pt;
    font-weight: 600;
    top: 30%;
}

.card-media.training > .training-month {
    top: 30%;
}

@media (min-width: 650px) {
    .card-title-sm {
        padding: 24px 24px 8px;
    }

    .card-with-border {
        border-left: 3px solid;
        border-color: #0256a0;
        padding-left: 20px;
    }

    .card-media.training {
        text-align: center;
        padding-right: 20px;
    }

    .card-media.training > .training-day {
        top: 15%;
        position: relative;
    }

    .card-media.training > .training-date {
        font-size: 32pt;
        font-weight: 600;
        top: 30%;
        position: relative;
    }

    .card-media.training > .training-month {
        position: relative;
        top: 30%;
    }
}

.bc-avatar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
}

.bc-avatar-blur {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    filter: blur(4px);
    opacity: 0.4;
}

@media screen and (min-width: 428px) {
    .bc-avatar {
        display: none;
    }

    .user-buttons {
        text-align: left !important;
    }
}

.new-year-hat-1 {
    position: relative;
    width: 20px;
    left: 64px;
    top: 15px;
}

.new-year-hat-2 {
    position: relative;
    margin-top: -50px;
    top: 50px;
    left: -5px;
}
