@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic';
body {
    margin: 0;
    height: 100%;
    font: normal 12px 'Open Sans', sans-serif;
    color: #292929;
    background: #ffffff;
    background-size: cover;
}
#one {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 4% 10px 0 10px;
}

.zag1 {
    text-align: center;
    font-size: 32px;
    color: #F17522;
    padding: 0;
    margin: 0 auto 30px;
    line-height: 120%;
}

.o1 {
    text-align: center;
    font-size: 16px;
    color: #333333;
    padding: 0;
    margin: 0 auto 30px;
    line-height: 140%;
}

.o2 {
    text-align: center;
    font-size: 16px;
    color: #292929;
    padding: 0;
    margin: 0 auto 20px;
    line-height: 140%;
}

.o2 a {
    font-size: 16px;
    color: #292929;
    padding: 0;
    margin: 0;
    text-decoration: underline;
}

.o2 a:hover {
    text-decoration: none;
}

#cf {
    margin: 0 auto 20px;
}

.container {
    width: 100%;
    padding: 0;
}
.well {
    background: transparent;
    border: none;
    box-shadow: none;
}
.footer {
    display: inline-block;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    padding: 10px;
}
.footer > div {
    float: left;
    display: inline;
}
.footer > a.footer-home {
    float: left;
    margin-left: 5px;
    display: inline;
}
.footer > a.footer-faq {
    float: right;
    display: inline;
}

.signin-train {
    padding-bottom: 20px;
}
.train-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.train-list ol {
    padding: 0;
    margin: 0;
}
.hcontent {
    display: none;
}
.show-more-train span {
    font-size: 120%;
    border-bottom: 1px dashed;
    cursor: pointer;
}
.train-list li {
    margin-bottom: 15px;
}
.show-more-train > input {
    display: none;
}
.enroll, .unroll {
    background: #fff;
    color: #3065d1;
    display: block;
    font-size: 12pt;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
    padding: 6px 0;
    border-radius: 6px;
    margin: 0 auto;
    border: 1px solid #3065d1;
}
.unroll {
    margin-top: 8px;
}
.enroll:hover, .unroll:hover {
    color: #fff;
    background: #3065d1;
    border: 1px solid #3065d1;
    text-decoration: none;
}
.enroll:disabled, .unroll:disabled {
    color: #fff;
    background: #cdd2cc;
    border: 1px solid #c8ced1;
    text-decoration: none;
}
.users-list li img {
	width: 70%;
	border-radius: 50%;
}
.users-list li span {
	display: block;
}
.users-list li {
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
    text-align: center;
    font-size: 12pt;
    line-height: 2;
    vertical-align: top;
}
.dark {
    background: rgba(255,255,255,1);
    left: 0;
    width: 100%;
    height: 100%;
}
.train-list input[type="text"] {
    display: block;
    margin: 10px auto;
    border: 1px solid;
    height: 32px;
    width: 250px;
    padding: 0 10px;
    font-size: 12pt;
}
.allert {
    background: #f3f3ac;
    text-align: center;
    padding: 10px;
    font-size: 12pt;
    border-radius: 4px;
}

.users-list .red {
	color: #fb8500;
}

#home_city {
	display: block;
	margin: 10px auto;
	border: 1px solid;
	height: 32px;
	width: 250px;
	padding: 0 10px;
	font-size: 12pt;
}

.refresh {
    font-size: 120%;
    width: 100%;
    text-align: center;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin: 0;
}

.bc-avatar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
}

.bc-avatar-blur {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    filter: blur(4px);
    opacity: 0.4;
}

@media screen and (min-width: 428px) {
    .bc-avatar {
        display: none;
        }
    }

.new-year-hat-1 {
    position: relative;
    width: 20px;
    left: 64px;
    top: 15px;
}

.new-year-hat-2 {
    position: relative;
    margin-top: -50px;
    top: 50px;
    left: -5px;
}

.switch.switch-middle {
    vertical-align: middle;
}
